.idea/
/nbproject/private/
nbproject/
.vscode/
_backend/alina/vendor
_backend/alina/components
_frontend/deleteOnProdDebug.html
_frontend/uploads/
_frontend/apps/vue
_backend/alina/configs/mailer.php
/.project
