logs/
database/
server/var/log/
.idea/
.vscode/
ALINA_BE.code-workspace
server/srv/php/_backend/alina/vendor/
server/var/www/zero.home/uploads/
server/var/www/_frontend/uploads/
server/var/www/_frontend_sss/uploads/
server/var/www/_frontend_m45a/uploads/
server/var/www/_frontend_vov/uploads/
server/var/www/_frontend_sss/apps/
server/var/www/_frontend_m45a/apps/
server/var/www/_frontend_vov/apps/
server/var/www/saysimsim.ru/uploads/
server/var/www/vov/uploads/
server/var/www/m45a/uploads/
server/var/www/saysimsim.ru/apps/vue/
server/var/www/vov/apps/vue/
server/var/www/m45a/apps/vue/
_DEV_DOCS/_DRAFT/
server/var/www/zero.home/apps/vue/
server/var/www/zero.home/apps/vue3/
