logs/
database/
server/var/log/
server/var/www/chat/
.idea/
.vscode/
**/DEBUG.*
**/uploads/
nbproject/
**/*.code-workspace
**/vendor/
**/apps/vue/
**/apps/vue3/
server/var/www/a.borg.home/BorgToolKit/
server/etc/letsencrypt/
_DEV_DOCS/
_GITOUT/
