/*##################################################*/
/*region FONT*/
@font-face {
    font-family: "ALINA";
    src: url("/sources/fonts/XXX.ttf") format('truetype');
}

/*endregion FONT*/
/*##################################################*/
/*region SCROLLER*/
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 0; /* For Chrome, Safari, and Opera */
}

html, body {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

/*endregion SCROLLER*/
/*##################################################*/
/*region FUNDAMENTAL */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: block;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
    width: 99vw;
    margin: 0 auto;
    padding: 0;
    font-family: "ALINA", Arial, sans-serif;
    /*outline: 1px solid yellow;*/
}

.alina-vh-100 {min-height: 100vh;}

/*endregion FUNDAMENTAL */
/*##################################################*/
/*region MAIN LAYOUT*/
/**
Online tool:
https://the-echoplex.net/flexyboxes/
*/
.alina-flex-vertical-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.alina-flex-vertical-header {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.alina-flex-vertical-content {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.alina-flex-vertical-footer {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.alina-flex-item-wide {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.alina-flex-item-shrink {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

/*endregion MAIN LAYOUT*/
/* ################################################## */
/*region REQUIRED BY INCLUDED FRAMEWORKS*/
/*region Keen required*/

/*endregion Keen required*/
/*endregion REQUIRED BY INCLUDED FRAMEWORKS*/
/* ################################################## */
/*region Form*/
.alina-form {
    background-color: #000;
    padding: 1px;
}

.m-buttons-1 button, .m-buttons-1 a {
    margin-left: 1px;
    margin-bottom: 1px;
}

select[multiple] option:checked {
    background: #8F2DA8 linear-gradient(0deg, #8F2DA8 0%, black 100%);
    color: white;
}

/*endregion Form*/
/*##################################################*/
/*region UTILS*/
.cursor-pointer {cursor: pointer;}

.vh-almost-100 {min-height: 90vh;}

.bg-black {background-color: black;}

.fixed-height-100px {
    overflow: hidden;
    max-height: 100px;
}

.fixed-height-150px {
    overflow: hidden;
    max-height: 150px;
}

.text-white table {color: white;}

.alina-tale-header,
.alina-tale-header a,
.alina-tale-header a:hover {
    font-size: 3vmax;
    display: block;
    text-decoration: none;
    font-weight: bold;
    background-color: rgba(40, 40, 40, 1);
    color: white;

    word-wrap: break-word;
    overflow-wrap: break-word;
    /*white-space: pre-wrap; !* CSS3 *!*/
    /*white-space: -moz-pre-wrap; !* Firefox *!*/
    /*white-space: -pre-wrap; !* Opera <7 *!*/
    /*white-space: -o-pre-wrap; !* Opera 7 *!*/
}

iframe {
    background-color: #ebebeb;
}

/*endregion UTILS*/
/*##################################################*/
/*region Messages*/
.alina-messages-body.modal-body {
    padding: 0;
}

.alina-messages-body .alert {
    margin: 0;
}

/*endregion Messages*/
/* ################################################## */
/*region ck-editor*/
.ck-content {
    padding: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.ck-content ol,
.ck-content ul,
.ck-content dl {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ck-content li {
    margin-left: 2em;
}

.ck-content p, .ck-content code {
    margin: 0;
    padding: 0 2px 0 2px;
    border: 0;
    line-height: 1;
}

.ck-content p {
    line-height: 1.5;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.ck-content code {
    color: black;
    padding-left: .5em;
    padding-right: .5em;
}

.ck-content figure.image,
.ck-content figure.media,
.ck-content figcaption {
    -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.43);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.43) !important;
}

/*pre,*/
.ck-content pre,
.ck-content code {
    white-space: pre;
    /* https://stackoverflow.com/questions/4652654/how-to-turn-off-word-wrapping-in-html/4652666
    word-break: unset;
    word-wrap: unset;
    overflow-wrap: unset;
    -webkit-hyphens: unset;
    -moz-hyphens: unset;
    -ms-hyphens: unset;
    hyphens: unset;*/

    overflow-x: auto;
    overflow-y: auto;
    background-color: #000;
    color: #70ff70;
}

.ck-content a, .ck-content a span {
    display: inline !important;
    word-wrap: break-word;
    overflow-wrap: break-word;
    /*white-space: pre-wrap; !* CSS3 *!*/
    /*white-space: -moz-pre-wrap; !* Firefox *!*/
    /*white-space: -pre-wrap; !* Opera <7 *!*/
    /*white-space: -o-pre-wrap; !* Opera 7 *!*/
    text-decoration: none;
    color: rgba(var(--corporate-txt));
    background-color: var(--corporate-bg-a);
    background-size: 100%;
    padding: 0 .5rem;
    margin: 0;
    border-radius: 25px;
}

.ck-content a:visited {
    color: rgba(var(--corporate-txt));
    background-color: var(--corporate-bg-a-visited);
}

.ck-content a:hover {
    text-decoration: none;
    color: rgba(var(--corporate-txt));
    background-color: var(--corporate-bg-a-hover);
}

/*endregion ck-editor*/
/* ################################################## */
/*region DEVELOPER BLOCK*/
/*
html {border: #3a8104 solid 10px;}

body {border: gray solid 10px;}

#alina-body-wrapper {border: #87711d solid 10px;}

.btn-light {background-color: #d90004}

.AlinaIframe {border: yellow solid 1px;}
*/

/** {
    outline: 1px solid red;
}*/

.db-1 {border: red solid 5px}

.db-2 {border: green solid 5px}

.db-3 {border: blue solid 5px}

.db-4 {border: purple solid 5px}

/*endregion DEVELOPER BLOCK*/
/* ################################################## */
