/* Base Form Field descriptions */

form {
    background-color: #e9ecef;
    padding: 2mm;
}

fieldset {
    border: #c6c5c5 2px solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    background-color: #ebebeb;;

    padding: 5px 10px  10px 10px;
    margin:  0 0 5px 0;
}

.field-wrapper {
    position: relative;
    text-align: center;
    margin-bottom: 25px;
}

.label-column,
.form-element-column
{
    display: inline-block;
    vertical-align: top;
}
.label-column {

    width: 29%;
    text-align: right;
}
.form-element-column {
    width: 69%;
    text-align: left;
}

.flex-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
}
.flex-item
{
    display: inline-block;.
    flex-basis: auto;
    flex-grow: 0;
    margin: auto;
}
.flex-item.flex-item-form-element-container
{
    flex-grow: 1;
}

.form-field-part
{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.prefix-form-element-suffix
{
    border: #ebebeb 2px solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    background-color: #ebebeb;;
}

.field-xfix
{
    padding: 0 2px;
}
.form-element
{
    width: 100%;
    padding: 3px;
    outline: 0;

    background-color: #fff;

    border: transparent 0 none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.form-element:focus
{
    outline: 0;
}

/* < Base Form Field descriptions */

/* Particular Form Field descriptions*/

.form-element-label
{
    font-size: 1em;
    font-weight: bold;
    margin: 5px 5px 0 0;
}

.field-wrapper .field-description
{
    font-size: 0.7em;
}

.field-wrapper .field-description.error
{
    background-color: #fad1d1;
    font-size: 0.9em;
    padding: 3px;
}
/* < Particular Form Field descriptions*/

/* for multi row fields*/
.field-wrapper.field-multirow *
{
    text-align: left;
}
/* < for multi row fields*/

/* checkboxes */
.field-checkbox .label-column
{
    vertical-align: top;
}

.field-checkbox .form-element-wrapper,
.field-checkbox .form-element,
.field-checkbox .label-wrapper,
.field-checkbox .form-element-label
{
    width: auto;
    margin: 0 0 0 0;
    padding: 0;
    vertical-align: middle;
}
.field-checkbox .flex-item-form-element-container
{
    background-color: #fff;
    padding: 1px 4px;

    border: transparent 0 none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    white-space: nowrap;
}

.field-checkbox .form-element-wrapper,
.field-checkbox .label-wrapper
{
    display: inline-block;
    white-space: normal !important;
    max-width: 97%;
}
/* < checkboxes*/

/* radio */
.field-radio .label-column
{
    vertical-align: top;
}

.field-radio .form-element-wrapper,
.field-radio .form-element,
.field-radio .label-wrapper,
.field-radio .form-element-label
{
    width: auto;
    margin: 0 0 0 0;
    padding: 0;
    vertical-align: middle;
}
.field-radio .flex-item-form-element-container
{
    background-color: #fff;
    padding: 1px 4px;

    border: transparent 0 none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    white-space: nowrap;
}

.field-radio .form-element-wrapper,
.field-radio .label-wrapper
{
    display: inline-block;
    white-space: normal !important;
    max-width: 97%;
}
/* < radios*/

input:read-only
, .readonly
{
    opacity: 0.3;
    background-color: #ebebeb;
}
input:disabled
, .disabled
{
    opacity: 0.3;
    background-color: #ebebeb;
}

legend {
    border: #c6c5c5 2px solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    background-color: #000;
    color: #fff;
    padding: 5px 25px;
    margin-left: 25px;
    width: auto;

    font-size: 1em;
}
