/*region Boy-Scout-Page*/
html { height: 100%; }

body {
    height: 100%;
    position: relative;
    overflow: hidden
}

#alina-body-wrapper {
    position: relative;
    padding: 0;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    overflow: scroll;

    border: orange solid 2px;
}
/*region Boy-Scout-Page*/

/*region Common*/
pre {
    background-color: #e9ecef;
    padding: 2mm;
}
/*endregion Common*/
