/* ################################################## */
/*region Very Special*/
.is_sticked {
    border-top: solid 5px;
}

.is_draft {
    border-right: solid 5px;
}

.corporate-color,
.corporate-color a,
.corporate-color a:hover {
    color: rgba(var(--corporate-txt));
}

.corporate-bg,
.corporate-bg a,
.corporate-bg a:hover {
    background-color: var(--corporate-bg);
}

.corporate-bg-and-text,
.corporate-bg-and-text ul,
.corporate-bg-and-text a,
.corporate-bg-and-text a:hover {
    background-color: var(--corporate-bg);
    color: rgba(var(--corporate-txt));
}

.corporate-border-color,
.corporate-border-color a,
.corporate-border-color a:hover {
    border-color: var(--corporate-bg);
}

.corporate-svg-fill {
    fill: var(--corporate-bg-a);;
    /*background-color: rgba(var(--corporate-txt));*/
    color: rgba(var(--corporate-txt));
}

.corporate-bg-gradient {
    background: var(--corporate-bg) linear-gradient(var(--corporate-gradient));
    color: var(--corporate-txt-hard);
}
/*endregion Very Special*/
/* ################################################## */
