/*##################################################*/
/*region SCROLLER*/
html::-webkit-scrollbar,
body::-webkit-scrollbar
{
    width: 0; /* For Chrome, Safari, and Opera */
}

html, body
{
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

/*endregion SCROLLER*/
/*##################################################*/
/*region FUNDAMENTAL */
*,
*::before,
*::after
{
    color-scheme: light dark;
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body
{
    display: block;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
    width: 99.999999vw;
    margin: 0 auto;
    padding: 0;
    font-family: "ALINA", Arial, sans-serif;
    /*outline: 1px solid yellow;*/
}

/*endregion FUNDAMENTAL */
/*##################################################*/
/*##################################################*/
/*region MAIN LAYOUT*/

/**
Online tool:
https://the-echoplex.net/flexyboxes/
*/
.alina-flex-vertical-container
{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.alina-flex-vertical-header
{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.alina-flex-vertical-content
{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.alina-flex-vertical-footer
{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.alina-flex-item-wide
{
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.alina-flex-item-shrink
{
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

/*endregion MAIN LAYOUT*/
/* ################################################## */
/*region REQUIRED BY INCLUDED FRAMEWORKS*/
/*region Keen required*/

/*endregion Keen required*/
/*endregion REQUIRED BY INCLUDED FRAMEWORKS*/
/* ################################################## */
/*region Tables */
table.alina-data-table thead
{
    background-color: #00116e;
}

table.alina-data-table tfoot
{
    background-color: #010a3a;
}

table.alina-data-table tbody tr:hover
{
    background-color: #444;
}

table.alina-data-table tbody tr.archived
{
    background-color: #8F2DA8;
}

table.alina-data-table th, table.alina-data-table td
{
    padding-top: 3px;
    padding-right: 1ch;
    padding-bottom: 2px;
    padding-left: 1ch;
    vertical-align: top;

    border: #555 solid 1px;
}

table.alina-table-stick-header thead th
{
    position: sticky;
    top: 0;
    background-color: #00116e;
    color: #fff;
}

.alina-pm-breadcrumbs,
.alina-pm-breadcrumbs .btn-sm
{
    font-size: 0.7rem;
}

/*endregion Tables */
/* ################################################## */
/*region Form*/
.alina-form
{
    background-color: #000;
    color: #fff;
    padding: 1px;
}

.m-buttons-1 button,
.m-buttons-1 a
{
    margin-left: 1px;
    margin-bottom: 1px;
}

.form-control, .form-control:focus
{
    background-color: #333;
    color: #fff;
    color-scheme: dark;
}

.form-control:disabled
{
    background-color: #666;
}

.form-control:required
{
    border: orange solid 2px;
}

select.form-control option
{
    font-size: 1.5rem;
}

input.form-control[type=date]
{
    color-scheme: dark;
}

select option:checked
{
    display: block;
    background: var(--corporate-bg) linear-gradient(var(--corporate-gradient));
    color: white;
    border-radius: 25px;
}

.list-group-item-dark
{
    color: #ebebeb;
    background-color: var(--alina-main-bg);
    padding: 1px 5px;
}

/*endregion Form*/
/*##################################################*/
/* region FIGURE */
figure.alina-figure-content {
    & figurecaption {
        font-size: 0.7rem;
    }
}
/* endregion FIGURE */
/*##################################################*/
/*region UTILS*/

.alina-vh-100
{min-height: 100vh;}

.alina-main-bg
{background-color: var(--alina-main-bg) !important;}

.alina-main-txt, .alina-main-txt table
{color: var(--alina-main-txt) !important;}

.w-pct-100
{min-width: 100%;}

.cursor-pointer
{cursor: pointer;}

.vh-almost-100
{min-height: 90vh;}

.bg-black
{background-color: black;}

.fixed-height-100px
{
    overflow: hidden;
    max-height: 100px;
}

.fixed-height-150px
{
    overflow: hidden;
    max-height: 150px;
}

.text-white table
{
    color: white;
}

.alina-tale-header a,
.alina-tale-header a:hover,
.alina-tale-header a:visited,
.alina-tale-header a:active
{
    text-decoration: none;
    color: rgba(var(--corporate-txt));
}

.alina-tale-header
{
    font-size: 4vw;
    display: block;
    font-weight: bold;
    background: var(--corporate-bg) linear-gradient(var(--corporate-gradient));
    color: var(--corporate-txt-hard);
    word-wrap: break-word;
    overflow-wrap: break-word;
    /*white-space: pre-wrap; !* CSS3 *!*/
    /*white-space: -moz-pre-wrap; !* Firefox *!*/
    /*white-space: -pre-wrap; !* Opera <7 *!*/
    /*white-space: -o-pre-wrap; !* Opera 7 *!*/
}

.alina-tale-header.bg-danger
{
    background: #f00 linear-gradient(var(--corporate-gradient-danger));
}

iframe
{background-color: #ebebeb;}

a.no-decoration,
a.no-decoration:hover,
a.no-decoration:visited,
a.no-decoration:active
{
    text-decoration: none;
    color: rgba(var(--corporate-txt));
}

/*endregion UTILS*/
/*##################################################*/
/*region Messages*/
.alina-messages-body.modal-body
{
    padding: 0;
}

.alina-messages-body .alert
{
    margin: 0;
}

.alert
{
    font-family: monospace, monospace;
}

.alert-danger, .alert-danger pre
{
    background-color: darkred;
    color: #fff;
}

.alert-success, .alert-success pre
{
    background-color: darkgreen;
    color: #fff;
}

.alert-info, .alert-info pre
{
    background-color: darkblue;
    color: #fff;
}

/*endregion Messages*/
/* ################################################## */
/*region ck-editor*/
.ck-content
{
    padding: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.ck-content ol,
.ck-content ul,
.ck-content dl
{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ck-content li
{
    margin-left: 2em;
}

.ck-content p, .ck-content code
{
    margin: 0;
    padding: 0 2px 0 2px;
    border: 0;
    line-height: 1;
}

.ck-content p
{
    line-height: 1.5;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.ck-content code
{
    color: black;
    padding-left: .5em;
    padding-right: .5em;
}

.ck-content figure.image,
.ck-content figure.media,
.ck-content figcaption
{
    -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.43);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.43) !important;
}

/*pre,*/
.ck-content pre,
.ck-content code
{
    white-space: pre;
    /* https://stackoverflow.com/questions/4652654/how-to-turn-off-word-wrapping-in-html/4652666
    word-break: unset;
    word-wrap: unset;
    overflow-wrap: unset;
    -webkit-hyphens: unset;
    -moz-hyphens: unset;
    -ms-hyphens: unset;
    hyphens: unset;*/

    overflow-x: auto;
    overflow-y: auto;
    background-color: #000;
    color: #70ff70;
    font-family: monospace, monospace;
}

.ck-content a
{
    display: inline-block !important;
    word-wrap: break-word !important;
    overflow-wrap: anywhere !important;
    /*white-space: pre-wrap; !* CSS3 *!*/
    /*white-space: -moz-pre-wrap; !* Firefox *!*/
    /*white-space: -pre-wrap; !* Opera <7 *!*/
    /*white-space: -o-pre-wrap; !* Opera 7 *!*/
    text-decoration: none;
    color: rgba(var(--corporate-txt));
    background-color: var(--corporate-bg-a);
    background-size: 100%;
    padding: .3rem;
    margin: 0;
    border-radius: 10px;
}

.ck-content a:visited
{
    color: rgba(var(--corporate-txt));
    background-color: var(--corporate-bg-a-visited);
}

.ck-content a:hover
{
    text-decoration: none;
    color: rgba(var(--corporate-txt));
    background-color: var(--corporate-bg-a-hover);
}

/*endregion ck-editor*/
/* ################################################## */
/*region DEVELOPER BLOCK*/
/*
html {border: #3a8104 solid 10px;}

body {border: gray solid 10px;}

#alina-body-wrapper {border: #87711d solid 10px;}

.btn-light {background-color: #d90004}

.AlinaIframe {border: yellow solid 1px;}
*/

/** {
    outline: 1px solid red;
}*/

.db-1
{
    outline: red solid 5px
}

.db-2
{
    outline: green solid 5px
}

.db-3
{
    outline: blue solid 5px
}

.db-4
{
    outline: purple solid 5px
}

/*endregion DEVELOPER BLOCK*/
/* ################################################## */


