/*##################################################*/
/*region FONT*/
@font-face {
    font-family: "ALINA";
    src: url("/sources/fonts/XXX.ttf") format('truetype');
}

/*endregion FONT*/
/*##################################################*/
:root {
    --alina-main-bg: #F9F7F1;
    --alina-main-txt: #000;
    --corporate-bg: #333;
    --corporate-bg-a: #000;
    --corporate-bg-a-visited: #444;
    --corporate-bg-a-hover: #00f;
    --corporate-txt: 255, 255, 255;
    --corporate-txt-hard: rgba(255, 255, 255, 1);
    --corporate-gradient: 0deg, #666 0%, black 100%;
    --corporate-gradient-danger: 0deg, #f00 0%, black 100%;
}
