/*region SSS*/
.sss {
    color: #8F2DA8;
    background-color: #fff;
}

/*endregion SSS*/
/*region VOV*/
.vov {
    color: #f5660b;
    background-color: #000;
}

/*endregion VOV*/
/*region m45a*/
.vov {
    color: #2778a2;
    background-color: #000;
}
/*endregion m45a*/
