/* ################################################## */
:root {
    --corporate-bg: #f5660b;
    --corporate-txt: #000;
}

/* ################################################## */
/*region Very Special*/
/*region Definitions*/
.is_sticked {
    border-top: solid 5px;
}

.is_draft {
    border-right: solid 5px;
}

.corporate-color,
.corporate-color a,
.corporate-color a:hover {
    color: var(--corporate-txt) !important;;
}

.corporate-bg,
.corporate-bg a,
.corporate-bg a:hover {
    background-color: var(--corporate-bg);
}

.corporate-bg-and-text,
.corporate-bg-and-text ul,
.corporate-bg-and-text a,
.corporate-bg-and-text a:hover {
    background-color: var(--corporate-bg);
    color: var(--corporate-txt);
}

.corporate-border-color,
.corporate-border-color a,
.corporate-border-color a:hover {
    border-color: var(--corporate-bg);
}

.corporate-svg-fill {
    fill: var(--corporate-bg);;
    /*background-color: var(--corporate-txt);*/
    color: var(--corporate-txt);
}

/*endregion Definitions*/
/*endregion Very Special*/
/* ################################################## */
