/* ################################################## */
/*region Very Special*/
/*region Definitions*/
.corporate-color,
.corporate-color a,
.corporate-color a:hover
{
    color: #000;
}

.corporate-bg,
.corporate-bg a,
.corporate-bg a:hover
{
   background-color: #f5660b;
}

.corporate-bg-and-text,
.corporate-bg-and-text a,
.corporate-bg-and-text a:hover
{
	text-decoration: none;
	background-color: #f5660b;
    color: #000;
}

.corporate-border-color,
.corporate-border-color a,
.corporate-border-color a:hover
{
    border-color: #f5660b !important;
}

.corporate-svg-fill {
    fill: #f5660b;
}

/*endregion Definitions*/
.is_draft {
    border-right: solid 5px;
}

.is_sticked {
    border-top: solid 5px;
}

/*endregion Very Special*/
/* ################################################## */
